* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header img {
  height: 50px;
  width: 60px;

}

a {
  color: white;
  text-decoration: none;
}

.header p {
  color: red;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
}
ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #0f1923;
  align-items: center;
  padding: 0 40px;
}

.introduction {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  background-color: #0f1923;
  padding-bottom: 50px;
}

.introduction img {
  height: 400px;
  width: 400px;
}

.introduction h2{
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  text-align: start;
}

.introduction p {
  margin-bottom: 40px;
}

.introduction p, .introduction button {
  font-size: 24px;
  color: #e5e7eb;
}

.introduction button:hover {
  background-color: red;
}

.introduction button {
  width: 150px;
  height: 50px;
  background-color: #3882f6;
  border-radius: 12px;
  border: none;
  padding: 0;
  transition-duration: 0.5s;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.body {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 50px;
}

.body div {
  width: 300px;
  font-size: 20px;
  text-align: center;
}

.body img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  align-items: center;
  height: 250px;
  justify-content: center;
}

.content .quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 20px;
}

.content .author {
  font-size: 20px;
  font-weight: bold;
  margin-left: 700px;
}

.stuff {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stuff .box {
  display: flex;
  height: 150px;
  width: 65%;
  justify-content: space-around;
  align-items: center;
}

.stuff .box, .stuff button {
  background-color: #3882f6;
  color: #f9faf8;
}
.stuff .box h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.stuff .box p {
  font-size: 20px;
}

.stuff button {
  font-size: 18px;
  margin-left: 50px;
  width: 140px;
  height: 50px;
  border-radius: 12px;
  padding: 0;
  border-color: #f9faf8;
  border-style: solid;
  transition-duration: 0.5s;
  font-weight: bold;
}